body{
    padding: 0;
    margin: 0;
    
}

.bg-noir{
    background-color: black;
}
.headerFix{
    height: 60px;
}
.bg-yellow{
    background-color: #FFCB01;
}
.navBox{
    
    
}
nav{
    height: 80px;
     
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #FFCB01;
    z-index: 8888;
    box-shadow: 0px 8px 24px black;
    
    
    
}
nav a{
    
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica, "Helvetica Neue", "Trebuchet MS", sans-serif;
    font-size: 14px;
    margin: 2px;
    padding: 15px 10px 15px 10px;
    text-shadow: 0px 1px 1px black;
    
   
}
.site-nav{
    display: inline;
   text-align: left;
   margin: auto;
}
.site-nav ul{
    list-style-type: none;
    display: flex;
}
.site-nav li{
    margin-top: 25px;
}
.site-nav li:hover a:hover{
    text-shadow: 0px 1px 1px black;
    color: #FFCB01;
    background-color: black;
    text-decoration: none;
    transition: all 0.5s;
}

.active{
    background-color: FFCB01;
    color: black;
    text-decoration: none;
    text-shadow: 0px 1px 1px black; 
    
}

/* Image bannière */
.startpage{
    z-index: -2;
    
}
.imgPrinc{
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: -2;
    
}
.textImage{
    position: absolute;
    background-color: rgba(2, 2, 2, 0.3);
    width: 100%;
    height: 700px;
    z-index: 2;
}
.textbann{
    
    color: white;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    text-shadow: 0px 4px 8px black;
    margin-top: 40px;
    font-size: 20px;
}
.redCol{
    color: #D03E18;
    font-size: 60px;
   
}
