body{

    padding: 0;
    margin: 0;
    background-color: #eeeeebfb !important;
    font-family: "Open Sans", sans-serif;
}

.bg-noir{
    background-color: black;
}
.headerFix{
    height: 60px;
}
.bg-yellow{
    background-color: #FFCB01;
}
.navBox{
    
    
}
nav{
    height: 80px;
     
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #FFCB01;
    z-index: 8888;
    box-shadow: 0px 8px 24px black;
    
    
    
}
nav a{
    
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica, "Helvetica Neue", "Trebuchet MS", sans-serif;
    font-size: 14px;
    margin: 2px;
    padding: 15px 10px 15px 10px;
    font-weight: 500;
    
   
}
.site-nav{
    display: inline;
   text-align: left;
   margin: auto;
}
.site-nav ul{
    list-style-type: none;
    display: flex;
}
.site-nav li{
    margin-top: 25px;
}
.site-nav li:hover a:hover{
    
    color: #FFCB01;
    background-color: black;
    text-decoration: none;
    transition: all 0.5s;
}

.active{
    background-color: black;
    color: #FFCB01;
    text-decoration: none;
   
    
}
/* titre sous nav */

/* Image bannière */
.startpage{
    z-index: -2;
    
}
.imgPrinc{
    width: 100%;
    height: 650px;
    position: absolute;
    z-index: -2;
    
}
.textImage{
    position: relative;
    background-color: rgba(2, 2, 2, 0.3);
    width: 100%;
    height: 650px;
    z-index: 2;
}
.textbann{
    
    color: white;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    text-shadow: 0px 4px 8px black;
    padding: 40px;
    font-size: 20px;
    
}
.tAnim{
    animation: apparition 2.0s ease-in-out;
}

@keyframes apparition{
    from {
        opacity: 0;
        transform: translateX(100%)
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.redCol{

    color: #D03E18;
    font-size: 60px;
    
   
}
.titleh2{
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #D03E18;
    text-shadow: 0px 1.5px 2px black;
}
.titleh2Bis{
    
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #FFCB01;
    

}
.bgtitre{
    width: 100%;
    height: 100px;
    background-color: black;
    padding-top: 25px;
    
   
    
}

/* Carte de présentation du club */

.card-pres{
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 8px 20px rgb(122, 119, 119);
    

}
.imgpres{
    padding: 0 !important;
  

}
.imgpres img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px 0px 0px 20px;
}
.textpres{
  text-align: justify;
  padding: 10px;
  font-family: "Open Sans";
  border-radius: 0px 20px 20px 0px;
  
 

}
.textpres h3{
    text-transform: uppercase;
    font-weight: bold;
    
}
.card-pres:hover{

    box-shadow: 0px 6px 50px rgb(122, 119, 119);
    
}

/* card mot du président */ 

.cardMdP img{
    max-width: 100%;
    max-height: 400px;
    border-radius: 50%;
    background-color: black;
}
.textMdP{
    text-align: justify;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 800;
}
/* Création du footer */ 
.footerPage{
    width: 100%;
    height: 400px;
    background-color: black;
}
.footerPage img{
    max-width: 100%;    
    height: 40px;
}